<div id="workarea">
    <div class="row-fluid span12">
        <div class="span2"></div>
        <div class="span8">
            <div id="progressbar1"></div>
        </div>
        <div class="span2"></div>
    </div>
    <div class="row-fluid span12" style="height: 10px"></div>
    <div class="row-fluid span12">
        <div class="span2"></div>
        <div class="span8">
            <div id="progressbar2"></div>
        </div>
        <div class="span2"></div>

    </div>
    <div class="row-fluid span12" style="height: 10px"></div>
    <div class="row-fluid span12">
        <div class="span2"></div>
        <div class="span8">
            <div id="progressbar3"></div>
        </div>
        <div class="span2"></div>
    </div>
    <div class="row-fluid span12" style="height: 10px"></div>


    <div class="row-fluid span12">
        <div class="span2"></div>
        <div class="span3">
            <select id="pbselector">
                <option value="progressbar1_selector">ProgressBar1</option>
                <option value="progressbar2_selector">ProgressBar2</option>
                <option value="progressbar3_selector">ProgressBar3</option>
            </select>
        </div>
        <div class="span5">
            <button class="btn btn-info btn-xs" id="minus25">-25</button>
            <button class="btn btn-info btn-xs" id="minus10">-10</button>
            <button class="btn btn-info btn-xs" id="plus10">+10</button>
            <button class="btn btn-info btn-xs" id="plus25">+25</button>
        </div>

        <div class="span2"></div>
    </div>
</div>
